{% extends "layout.twig" %}

{% block content %}
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
       <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<style>
.Esp-clients{

    background: #375050;
    width: 45%;
    height: 90px;
    border-radius: 500px;
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    padding-top: 5.5%;
    font-weight: 700;
    cursor: pointer;
    padding-top: 2%;
    margin-top: 2%;
}

</style>

<h1  class="shadow p-3 mb-5 bg-white rounded"style="text-align:center; margin-top:2%;text-shadow: 5px 3px 3px #aaa;     font-size: 50px;
"> Bienvenu au page d'administration</h1>
<div style="    
    width: 19%;
    height: auto;
    display : inline" >

    <div class="Esp-clients act" onclick="window.location='/usedCars/public/index.php/PageAdmin/GestionAnnonce'" >
    Gestion des Annonces
    </div>
    <div class="Esp-clients" onclick="window.location='/usedCars/public/index.php/PageAdmin/GestionAnnonceurs'">
    Gestion des Annonceurs

    </div>
    <div class="Esp-clients" onclick="window.location='/usedCars/public/index.php/PageAdmin/Statistique'" >
    Statistique
    </div>
  
</div>

<script>

    $(document).ready(function() {
        $(".logout").show();
        $(".login").hide();
        $(".admin").show();
           $('ul li.active').removeClass('active');
            $('button.btn.dropdown-toggle.bb').css('color,"#FFF"');
    }); 
    </script>  
{% endblock %}