<html lang="en">
<head>
    <title>Carbook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/usedCars/app/views/front/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/usedCars/app/views/front/css/animate.css">

    <link rel="stylesheet" href="/usedCars/app/views/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/usedCars/app/views/front/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/usedCars/app/views/front/css/magnific-popup.css">

    <link rel="stylesheet" href="/usedCars/app/views/front/css/aos.css">

    <link rel="stylesheet" href="/usedCars/app/views/front/css/ionicons.min.css">

    <link rel="stylesheet" href="/usedCars/app/views/front/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/usedCars/app/views/front/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/usedCars/app/views/front/css/flaticon.css">
    <link rel="stylesheet" href="/usedCars/app/views/front/css/icomoon.css">
    <link rel="stylesheet" href="/usedCars/app/views/front/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {
    if({{ cnx }}==1)
        {
        $(".logout").show();
        $(".login").hide();
        $(".profile").show()

        }

        if({{ testA }}==1)
            {
              $(".admin").show();
              $(".profile").hide();
            } 
           
});


</script>
</head>
<body>
